<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebRequestTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WebRequestTools.Settings>
            <setting name="RequestEncoding" serializeAs="String">
                <value>GB2312</value>
            </setting>
            <setting name="ResponseEncoding" serializeAs="String">
                <value>GB2312</value>
            </setting>
            <setting name="Login_tiancity_key_test" serializeAs="String">
                <value>23qYZaijQlmnkvwxyIN60GHOPopbcdRSWBCDKLM789AghEFTUVrstuefXJz145</value>
            </setting>
            <setting name="Login_tiancity_key" serializeAs="String">
                <value>60GHINOPopqRSWX45JKLM789ABCDEFYZabcdTUVrstuefghijQlmnkvwxyz123</value>
            </setting>
            <setting name="Login_type" serializeAs="String">
                <value>tiancity</value>
            </setting>
            <setting name="RequestEncoding_autoheader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Login_tiancity_url" serializeAs="String">
                <value>https://passport.tiancity.com/login/login_check_json.aspx?username={0}&amp;cipherword={1}&amp;op=checkuser&amp;checkcode={2}</value>
            </setting>
            <setting name="proxy_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="output_len" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="proxy_all" serializeAs="String">
                <value />
            </setting>
            <setting name="proxy_use" serializeAs="String">
                <value />
            </setting>
            <setting name="debug_msg" serializeAs="String">
                <value>False</value>
            </setting>
        </WebRequestTools.Settings>
    </userSettings>
</configuration>